extends profilePage

mixin field(pText, fieldText, id)
    p.attribute= pText+":"
    div.field(id=id)= fieldText
mixin settings(pText, reference)
    div.row#params
        p.attribute= pText+"settings"
        a.change(href=reference)
            img#sett(src="images/settings.jpg")
mixin edit(pText,reference)
    div.row#pic-ch
        a.change-1(href=reference)= "edit "+pText


block page
    if chat
        div chat here
    else
        div.row#profile-pic
            div.column.for-img-1
                div.row#profile-pic-row
                    img.rounded-circle-1#avatar(src="images/user.jpg")
            div.column.for-msg-1
                div.row.name-row#fullname-setting= fullname
                div.row.nick-row#username-setting= username
        div.row#edit-row
            form.avatar-form(method='GET' enctype="multipart/form-data" action='/profile')
                div.column
                    label.label-f(for="file") choose file
                    input.custom-file-input(type="file" name="file")
                    button.save-sett-1(type="submit") save settings
            +edit("name", "/")
        div.row#settings-row
            div.column.settings
                +field("status", fstatus, "fstatus-setting")
                +field("email", email, "email-setting")
                +field("phone number", phone, "phone-setting")
                +settings("account ", "/")
                +settings("privacy ", "/")

