mixin field(pText, fieldText, id)
    p.attribute= pText+":"
    div.field(id=id)= fieldText
mixin settings(pText, reference)
    div.row.params
        p.attribute= pText+"settings"
        a.change(href=reference)
            img.sett(src="images/settings.jpg")



block page
    div.bem-profile-header
        div.bem-profile-header__image-row
            div.bem-profile-header__image-row__loader.bem-profile-header__image-row__loader_style
            img.bem-profile-header__image-row__image.bem-profile-header__image-row__image_style(src="images/user.jpg")
            input.bem-profile-header__image-row__input(type='file')
        div.bem-profile-header__username-column
            div.bem-profile-header__username-column__username.bem-profile-header__username-column__username_style#username-setting= username
            div.bem-profile-header__username-column__fullname.bem-profile-header__username-column__fullname_style#fullname-setting= fullname
    div.row
        div.column.settings
            +field("status", fstatus, "fstatus-setting")
            +field("email", email, "email-setting")
            +field("phone", phone, "phone-setting")
            +settings("account ", "/")
            +settings("privacy ", "/")

