mixin field(pText, fieldText, id)
    div.profile-info__field
        div.profile-info__field__name.profile-info__field__name_style= pText+':'
        div.profile-info__field__info.profile-info__field__info_style(id=id)= fieldText
mixin settings(pText, reference)
    div.profile-info__settings
        div.profile-info__settings__name.profile-info__settings__name_style= pText+'settings'
        a.profile-info__settings__ref(href=reference)
            img.profile-info__settings__ref__image.profile-info__settings__ref__image_style(src='images/settings.jpg')



block page
    div.profile-header
        div.profile-header__image-row
            div.profile-header__image-row__loader.profile-header__image-row__loader_style
            img.profile-header__image-row__image.profile-header__image-row__image_style(src='images/user.jpg')
            input.profile-header__image-row__input(type='file')
        div.profile-header__username-column
            div.profile-header__username-column__username.profile-header__username-column__username_style#username-setting= username
            div.profile-header__username-column__fullname.profile-header__username-column__fullname_style#fullname-setting= fullname
    div.profile-info
        +field('status', fstatus, 'fstatus-setting')
        +field('email', email, 'email-setting')
        +field('phone', phone, 'phone-setting')
        +settings('privacy ', '/')


