mixin input(name)
    label.input-block_label(for=name)
    if name === 'password'
        input.input-block_input-field.input-block_input-field_style(type=name id=name placeholder=name name=name)
    else
        input.input-block_input-field.input-block_input-field_style(type='text' id=name placeholder=name name=name)



if viewType === "signUp"
    - var ref = '/signup';
    - var mainTitle = 'Sign up';
    -var question = 'Already registered?'
if viewType === "login"
    - var ref  = '/login';
    - var mainTitle = 'Login';
    -var question = 'Not registered?'

block content
    div.register-form.register-form_style
        form.register-form__form(method='POST' action=ref)
            div.register-form__form__name-field.register-form__form__name-field_style=mainTitle
            div.input-block
                +input('email')
                +input('password')
                if viewType === "signUp"
                    +input('username')
                div.input-block_error-field.input-block_error-field_style
            button.register-form__form__button.register-form__form__button_style(type='submit')=mainTitle
            div.register-form__form__login-ref
                if viewType === "signUp"
                    p.register-form__form__login-ref__text.register-form__form__login-ref__text_style=question
                    a.header-refs__ref_style(href='/login' data-section = 'login') log in
                if viewType === "login"
                    p.register-form__form__login-ref__text.register-form__form__login-ref__text_style=question
                    a.header-refs__ref_style(href='/signup' data-section = 'signup') sign up